<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.willemsens.player">
    <application>
        <!-- Don't start the service in a separate process in the debug build. -->
        <service
                android:name=".playback.PlayBackService"
                tools:remove="android:process"/>

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
    </application>
</manifest>
